@media screen and (max-width: 320px) {
	.modal-window {
		position: fixed;
		background-color: rgba(0,0,0,0.8);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 999;
		opacity: 0;
		pointer-events: none;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	.modal-window:target {
		opacity: 1;
		pointer-events: auto;
	}

	.modal-window>div {
		width: 280px;
		height: 400px; 
		overflow: scroll;
		position: relative;
		margin: 5% auto;
		padding: 10px;
		background: #fff;
		color: #444;
	}

	.modal-window header {
		font-weight: bold;
	}

	.modal-close {
		color: #444;
		line-height: 50px;
		font-size: 30px;
		position: absolute;
		right: -25px;
		text-align: center;
		top: -15px;
		width: 70px;
		text-decoration: none;
	}

	.modal-close:hover {
		font-size: 43px;
		
	}

	.modal-window h1 {
		font-size: 150%;
		margin: 0 0 15px;
	}
}