.container-publictransport {
  width: 100%;
  position: relative;
  background-color: #fff;
  font-family: "Montserrat",sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  background: inherit;
  margin-top: -120px;
  z-index: 3; }

.container-publictransport:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  top: -100px;
  right: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-4deg);
  z-index: -1; }

.container-publictransport:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/backtrans2.jpg);
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform-origin: top right;
  transform: skewY(-4deg); }

.publictransport {
  position: relative; }
  .publictransport .judul {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 0px;
    color: #fff;
    transform: scale(0);
    opacity: 0;
    transition: 1s;
    transition-delay: 3s; }
  .publictransport .judul.munculsiah {
    transform: scale(1);
    opacity: 1; }
  .publictransport .wadah-transportation {
    position: absolute;
    margin-left: 70px;
    width: 90%;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    opacity: 0; }
    .publictransport .wadah-transportation .nama-angkot {
      font-family: 'raleway';
      font-weight: bold;
      position: absolute;
      text-transform: uppercase;
      width: 400px;
      top: 50%;
      color: #fff;
      font-size: 18px;
      float: left;
      left: -175px;
      text-align: center;
      letter-spacing: 3px;
      transform: rotate(-90deg);
      z-index: 3; }
    .publictransport .wadah-transportation .garis-pinggir {
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #fff;
      left: 50px; }
    .publictransport .wadah-transportation .garis-pinggir-kanan {
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #fff;
      right: 50px; }
    .publictransport .wadah-transportation .gambar-angkot {
      opacity: 0;
      position: absolute;
      width: 450px;
      height: 300px;
      left: 60%;
      top: 30px; }
    .publictransport .wadah-transportation .gambar-angkot-1.aktif-gambar {
      background-image: url(../img/angkot/HijauBiru.png);
      background-size: contain;
      background-repeat: no-repeat;
      left: 50%;
      transform: translateX(-50%);
      transition: 1s;
      opacity: 1; }
    .publictransport .wadah-transportation .gambar-angkot-2.aktif-gambar {
      background-image: url(../img/angkot/Biru.png);
      background-size: contain;
      background-repeat: no-repeat;
      left: 50%;
      transform: translateX(-50%);
      transition: 1s;
      opacity: 1; }
    .publictransport .wadah-transportation .gambar-angkot-3.aktif-gambar {
      background-image: url(../img/angkot/HijauOren.png);
      background-size: contain;
      background-repeat: no-repeat;
      left: 50%;
      transform: translateX(-50%);
      transition: 1s;
      opacity: 1; }
    .publictransport .wadah-transportation .gambar-angkot-4.aktif-gambar {
      background-image: url(../img/angkot/Hijau.png);
      background-size: contain;
      background-repeat: no-repeat;
      left: 50%;
      transform: translateX(-50%);
      transition: 1s;
      opacity: 1; }
    .publictransport .wadah-transportation .gambar-angkot-5.aktif-gambar {
      background-image: url(../img/angkot/Elp.png);
      background-size: contain;
      background-repeat: no-repeat;
      left: 50%;
      transform: translateX(-50%);
      transition: 1s;
      opacity: 1; }
    .publictransport .wadah-transportation .jalur-angkot {
      position: absolute;
      font-size: 25px;
      color: #fff;
      font-family: 'raleway';
      top: 60%;
      left: 40%;
      transform: translateX(-50%);
      z-index: 3;
      opacity: 0;
      transition: 1s;
      transition-delay: 1s; }
    .publictransport .wadah-transportation .deskripsi-angkot {
      position: absolute;
      font-size: 18px;
      color: #fff;
      font-family: 'raleway';
      top: 70%;
      left: 60%;
      transform: translateX(-50%);
      text-align: center;
      z-index: 3;
      opacity: 0;
      transition: 1s;
      transition-delay: 1s; }
    .publictransport .wadah-transportation .geser {
      position: absolute;
      right: -100px;
      top: 48%;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      width: 125px;
      height: 15px;
      transform: translate(-50%) rotate(90deg); }
    .publictransport .wadah-transportation .pilih {
      display: inline-block;
      float: left;
      width: 10px;
      height: 10px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      margin-left: 10px;
      cursor: pointer;
      z-index: 10; }
    .publictransport .wadah-transportation .aktif {
      background: #fff; }
    .publictransport .wadah-transportation .geser-kiri-angkot {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20%;
      z-index: 4;
      opacity: 0;
      transition: 1s;
      transition-delay: 2s; }
      .publictransport .wadah-transportation .geser-kiri-angkot i {
        font-size: 40px;
        color: #fff;
        transition: .4s; }
    .publictransport .wadah-transportation .geser-kiri-angkot:hover i {
      margin-left: -5px; }
    .publictransport .wadah-transportation .geser-kanan-angkot {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20%;
      z-index: 4;
      opacity: 0;
      transition: 1s;
      transition-delay: 2s; }
      .publictransport .wadah-transportation .geser-kanan-angkot i {
        font-size: 40px;
        transition: .4s;
        color: #fff; }
    .publictransport .wadah-transportation .geser-kanan-angkot:hover i {
      margin-right: -5px; }
  .publictransport .transport-1.aktifkan,
  .publictransport .transport-2.aktifkan,
  .publictransport .transport-3.aktifkan,
  .publictransport .transport-4.aktifkan,
  .publictransport .transport-5.aktifkan {
    opacity: 1; }

/*# sourceMappingURL=popular_place.css.map */
